@font-face {
    font-family: LexandBlack;
    src: url(/Fonts//Lexend/static/Lexend-Black.ttf);
}
:root{
 /*We love our variables!*/
 --cord: 0px;
 --navElementWidth: 0px;
 --screnWidth: 1920px
}
*{
    
    font-family: LexandBlack;
    color: black;
}
body{
    overflow-x: hidden;
    background-image: url("/images/mainbackground.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.NavBar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    font-family: LexandBlack;
    margin: 0 auto;
    padding: 0 2rem;
    height: 70px;
    font-size: 1.2rem;
}
.NavBar a{
    margin: 1.5rem;
    text-decoration: none;
}
.NavBar a:hover{
    color: gray;
}

#Logo{
    display: flex;
    margin-right: auto;
    font-size: 1.5rem;
    align-items: center;
}
.MainPage{
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 1.5fr .8fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    z-index: 1;
    width: 100%;
    max-width: 1500px;
    padding: 0 50px;

}
.Members{
    font-size: 1.5rem;
}
.heads{
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    
}
.heads div {
    align-items: center;
    justify-self: center;
}
.MainMembers{
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    
}
.MainMembers div {
    align-items: center;
    justify-self: center;
}
#hackingComputerGif{
    height: 400px;
    width:  400px;
    
}
.underbar{
    width: 0;
    height: 5px;
    background: rgba(100,100,100,0);
    /*Left: -50px;*/
    top: 78px; /*I put a eight instead of just 80 since it would leave two pixels of difference from the tha navbar and that annoys me -Muffin*/
    position: absolute;
    
}
li{
    
    -webkit-transition: 0.15s ease;
&:hover{
    text-shadow: 0px -2px 0px
rgba(0,0,0,1), 0 0 5px
rgba(255,255,255,0.8),0 -4px 15px
rgba(255,255,255,0.5);
}
&:nth-of-type(1):hover ~ .underbar{
    left: var(--cord);
    width: var(--navElementWidth);
    height: 5px;
    background: rgba(100,100,200,1);
}
&:nth-of-type(2):hover ~ .underbar{
    left: var(--cord);
    width: var(--navElementWidth);
    height: 5px;
    background: rgba(200,100,100,1);
}
&:nth-of-type(3):hover ~ .underbar{
    left: var(--cord);
    width: var(--navElementWidth);
    height: 5px;
    background: rgba(100,100,200,1);
    box-shadow: 0 0 10px rgba(70,250,250,1);
}
& ~ .underbar{
    -webkit-transition: 0.5s ease;
    left: 0;
    width: var(--screnWidth);
    height: 5px;
    background: rgba(100,100,200,1);
}


cursor: pointer;
}