@font-face {
    font-family: LexandBlack;
    src: url(/Fonts//Lexend/static/Lexend-Black.ttf);
}
*{
    font-family: LexandBlack;
}

.MainPage{
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 1.5fr .8fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    z-index: 1;
    width: 100%;
    max-width: 1500px;
    padding: 0 50px;
    background-image: url("/images/mainbackground.png");
}
.Members{
    font-size: 1.5rem;
}
.heads{
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    
}
.heads div {
    align-items: center;
    justify-self: center;
}
.MainMembers{
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    
}
.MainMembers div {
    align-items: center;
    justify-self: center;
}

