@font-face {
    font-family: LexandBlack;
    src: url(/Fonts//Lexend/static/Lexend-Black.ttf);
}
*{
    font-family: LexandBlack;
    color: black;
}
.NavBar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    font-family: LexandBlack;
    margin: 0 auto;
    padding: 0 2rem;
    height: 70px;
    font-size: 1.2rem;
}
.NavBar a{
    margin: 1.5rem;
    text-decoration: none;
}
#Logo{
    display: flex;
    margin-right: auto;
    font-size: 1.5rem;
    align-items: center;
}
.MainPage{
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 1.5fr .8fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    z-index: 1;
    width: 100%;
    max-width: 1500px;
    padding: 0 50px;
    background-image: url("/images/mainbackground.png");
}
.Members{
    font-size: 1.5rem;
}
.heads{
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    
}
.heads div {
    align-items: center;
    justify-self: center;
}
.MainMembers{
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    
}
.MainMembers div {
    align-items: center;
    justify-self: center;
}

